#root {
  width: 100%;
}

* {
  scrollbar-width: none !important;
}

/**
 글자색 : #CFDFE1
.background-color-header {
  background-color: #152937;
}
.background-color-sidebar {
  background-color: #122330;
}
.background-color-content {
  background-color: #0E1B25;
}
.background-color-sidebar-selected {
  background-color: #0E4351 !important;
}
 */

/* Form 영역 시작 */
.ant-col > label{;
  color: #CFDFE1 !important;
}

.ant-input, input.ant-input[readonly], .ant-select-selector, .ant-select-dropdown {
  background-color: #152937 !important;
  color: #CFDFE1 !important;
}

input[readonly] {
  background-color: #152937 !important;
  color: #CFDFE1 !important;
}

/* Form 영역 끝 */

/* antd 테이블 영역 시작 */
.MuiTableCell-root {
  color: #ADB4B9 !important;
}

.ant-table * {
  color: #CFDFE1 !important;
  background-color: #152937 !important;
  border: none !important;
  border-bottom: 1px solid #1A2D3B !important;
}

.ant-table-tbody > tr.ant-table-row-selected > td {
  background-color: #213441 !important;
}
.ant-radio-wrapper-checked .ant-radio .ant-radio-inner {
  border-color: #000 !important;
  background-color: #000 !important;
}
.ant-table tbody tr:hover td {
  background-color: #213441 !important;
}

.table-header-span {
  font-size: 0.7rem;
}
.table-span {
  font-size: 0.7rem;
}

.red-text {
  color: #f85252 !important;
}

/* 테이블 영역 끝 */

/* 버튼 영역 시작  */
.ant-btn-primary {
  background-color: #114857 !important;
  border-radius: 0px !important;
  /*box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2) !important; !* 포커스 시 쉐도우 증가 *!*/
}
.ant-btn-primary > span {
  background-color: #114857 !important;
  color: #00C1D8 !important;
  font-weight: 900;
}

.ant-btn-primary:hover {
  border-color: #114857 !important;
}

.ant-btn-danger, .ant-btn-danger > span {
  background-color: #F7614E !important;
  border-radius: 0px !important;
  font-weight: 900;
}

.ant-btn-danger:hover {
  border-color: #F7614E !important;
}

/* 버튼 영역 끝  */

/* antd Form 영역 시작  */
.ant-form-item-label > label {
  font-weight: 600;
}

.ant-input {
  /*text-align: center;*/
}
.ant-input[readonly] {
  background-color: #f0f0f0 !important;
}
.ant-input-fix {
  background-color: #f6a6a6 !important;
}
/* antd Form 영역 끝  */

/* 사이드바 영역 시작 */
/* Sidebar.css */

/* 기본 상태의 사이드바 */
.custom-sidebar {
  width: 80px !important; /* 기본 너비 */
  flex: auto !important;
  min-width: 80px !important;
  max-width: 80px !important;
  border-right: solid 5px #000;
}

/* 사이드바를 호버했을 때 */
.custom-sidebar:hover {
  width: 300px !important; /* 호버 시 확장된 너비 */
  min-width: 300px !important;
  max-width: 300px !important;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #0E4351 !important; /* 선택된 항목의 배경색 */
  color: #fff !important;               /* 선택된 항목의 텍스트 색 */
}

.ant-menu-item:hover {
  background-color: #0E4351 !important;
}

.ant-menu-dark .ant-menu-item {
  color: #bfbfbf !important;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

  /* 선택된 아이템에 대한 텍스트 색상 */
.ant-menu-dark .ant-menu-item-selected > .ant-menu-title-content {
  color: #ffffff !important;
}

.custom-sidebar .ant-menu-submenu-arrow {
  display: none;
}

/* 서브메뉴 중 하나라도 호버되었을 때 모든 화살표 표시 */
.custom-sidebar:hover .ant-menu-submenu-arrow {
  display: block;
}

/* 아이콘 크기 조정 */
.ant-menu-item-icon {
  font-size: 20px !important;
}
/* 사이드바 영역 끝 */



/* Paper 영역 시작 */
.MuiPaper-root {
  background-color: #152937 !important;
  color: #CFDFE1 !important;
  padding: 20px;
}

/* Paper 영역 끝 */