#root {
  width: 100%;
}

.background-color-header {
  background-color: #152937;
}
.background-color-sidebar {
  background-color: #122330;
}
.background-color-content {
  background-color: #0E1B25;
}
.background-color-sidebar-selected {
  background-color: #0E4351 !important;
}

/* 스크롤바 영역 시작 */
.mui-scrollbar::-webkit-scrollbar,
.ant-table-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.mui-scrollbar::-webkit-scrollbar-thumb,
.ant-table-body::-webkit-scrollbar-thumb {
  background-color: #888;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0; /* 기본적으로 스크롤바를 투명하게 설정 */
}

.mui-scrollbar:hover::-webkit-scrollbar-thumb,
.ant-table-body:hover::-webkit-scrollbar-thumb {
  background-color: #555;
  opacity: 1; /* 호버 시 스크롤바 나타나게 */
}

.mui-scrollbar::-webkit-scrollbar-thumb:hover,
.ant-table-body::-webkit-scrollbar-thumb:hover {
  background-color: #333;
  transition: background-color 0.3s ease-in-out; /* 동일한 애니메이션 */
}

.mui-scrollbar::-webkit-scrollbar-button,
.ant-table-body::-webkit-scrollbar-button {
  display: none; /* 상단 및 하단 화살표 없애기 */
}

/* Firefox에서 스크롤바 스타일링 */
.MuiBox-root,
.mui-scrollbar,
.ant-table-body {
  scrollbar-width: thin;
  scrollbar-color: #e3e2e2 #f1f1f1; /* 스크롤바 색상 */
  transition: scrollbar-color 0.3s ease-in-out; /* 동일한 애니메이션 */
}

.MuiBox-root:hover,
.mui-scrollbar:hover,
.ant-table-body:hover {
  scrollbar-color: #888 #f1f1f1; /* 호버 시 스크롤바 색상 */
  transition: scrollbar-color 0.3s ease-in-out; /* 동일한 애니메이션 */
}
/* 스크롤바 영역 끝 */

/* antd 테이블 영역 시작 */
.ant-table-tbody > tr.ant-table-row-selected > td {
  background-color: #d3daf7 !important;
}
.ant-radio-wrapper-checked .ant-radio .ant-radio-inner {
  border-color: #6d84ec !important;
  background-color: #6d84ec !important;
}

.table-header-span {
  font-size: 0.7rem;
}
.table-span {
  font-size: 0.7rem;
}

.red-text {
  color: #f85252 !important;
}

/* 테이블 영역 끝 */

/* 버튼 영역 시작  */
.ant-btn-primary {
  background-color: #6d84ec !important;
  /*box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2) !important; !* 포커스 시 쉐도우 증가 *!*/
}

.ant-btn-danger {
  background-color: #ee8484 !important;
  color: #fff;
}

/* 버튼 영역 끝  */

/* antd Form 영역 시작  */
.ant-form-item-label > label {
  font-weight: 600;
}

.ant-input {
  /*text-align: center;*/
}
.ant-input[readonly] {
  background-color: #f0f0f0 !important;
}
.ant-input-fix {
  background-color: #f6a6a6 !important;
}
/* antd Form 영역 끝  */

/* Paper 영역 시작 */
.paper-header {
  padding : 16px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #eaeded;
}
/* Paper 영역 끝 */


/* 사이드바 영역 시작 */
/* Sidebar.css */

/* 기본 상태의 사이드바 */
.custom-sidebar {
  width: 80px !important; /* 기본 너비 */
  transition: width 0.3s ease; /* 부드러운 확장/축소 애니메이션 */
  flex: auto !important;
  min-width: 80px !important;
  max-width: 80px !important;
  border-right: solid 5px #000;
}

/* 사이드바를 호버했을 때 */
.custom-sidebar:hover {
  width: 200px !important; /* 호버 시 확장된 너비 */
  min-width: 200px !important;
  max-width: 200px !important;
}

/* 메뉴 아이템의 텍스트와 아이콘을 가운데 정렬 */
.custom-sidebar .ant-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: justify-content 0.3s ease;
  overflow: hidden; /* 텍스트 오버플로우 숨기기 */
}

/* 기본 상태에서 텍스트 숨기기 */
.custom-sidebar .ant-menu-item .ant-menu-title-content {
  visibility: hidden;
}

/* 사이드바 호버 시 텍스트 정렬 변경 */
.custom-sidebar:hover .ant-menu-item .ant-menu-title-content {
  justify-content: flex-start;
  padding-left: 16px; /* 텍스트와 아이콘 사이에 간격 추가 */
  visibility: visible;
}

/* 아이콘 크기 조정 */
.custom-sidebar .ant-menu-item .anticon {
  font-size: 18px;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #0E4351 !important; /* 선택된 항목의 배경색 */
  color: #fff !important;               /* 선택된 항목의 텍스트 색 */
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* 비선택 항목의 텍스트 색상 */
.ant-menu-dark .ant-menu-item {
  /*color: #bfbfbf !important;*/
  color: #bfbfbf !important;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.ant-menu-item:hover {
    background-color: #0E4351 !important;
    width: 100%;
}

  /* 선택된 아이템에 대한 텍스트 색상 */
.ant-menu-dark .ant-menu-item-selected > .ant-menu-title-content {
  color: #ffffff !important;
}
/* 사이드바 영역 끝 */